<template name="page">
  <h3>Example</h3>

  <p>childValue: {{childValue}}</p>

  <button {{bind 'toggle: destroy'}}>destroy views</button> {{destroy}}

  {{#unless destroy}}
    <p>{{> value}}</p>
    <p>{{> throttled}}</p>
    <p>{{> startValue startValue='yo'}}</p>
    <p>{{> checked}}</p>
    <p>{{> click}}</p>
    <p>{{> toggle}}</p>
    <p>{{> disabled}}</p>
    <p>{{> focused}}</p>
    <p>{{> hovered}}</p>
    <p>{{> enterKey}}</p>
    <p>{{> key}}</p>
    <p>{{> value}}</p>
    <p>{{> files}}</p>
    <p>{{> textarea}}</p>
    <p>{{> select}}</p>
    <p>{{> radio}}</p>
    <p>{{> classes}}</p>
  {{/unless}}
</template>
